body {
    background-color: #006400;
}

.section {
    text-align: center;
    padding: 2rem 0 0;
}

div.section.cards div.container div.row {
    border-top: 1px solid #eee;
    padding: 2rem 0 0;
}

.cards img {
    max-width: 150px;
    height: auto;
}

.deal-button {
    text-align: center;
}

.heading {
    color: #eee;
	text-transform: uppercase;
}

.label {
    color: #eee;
}

.last-third-section-container {
    display: flex;
}

.last-third-section-left-part {
    justify-content: flex-start;
    float: left;
}

.last-third-section-right-part {
    justify-content: flex-end;
    float: left;
}

.last-third-section-name-row {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    flex-grow: 1;
}

.label-name {
    float: left;
}

.last-third-section-message-row {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    flex-grow: 1;
}

.label-message {
    float: left;
    display: flex;
}


.hands-ranking-img {
    display: flex;
    justify-content: flex-start;
    margin: auto 1em;
}

.player-id-section-class {
    text-align: center;
    color: #eee;
}

/* img{ 
	width: 90px;
	height: 90px;
} */